<%- include('partials/header'); %> 
<h1>Adicione um post</h1>
<div>
    <input type="text" name="content" placeholder="Digite o texto do post"> 
    <button type="submit">Publique</button>
</div>
<%- include('partials/footer'); %> 
